<mat-toolbar>
  <span>Pneumonia Detection System</span>

  <span class="dashboard-spacer"></span>

    <span class="material-icons-outlined md-48" [matMenuTriggerFor]="belowMenu" matTooltip="Profile">
      account_circle
      </span>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <mat-list>
      <mat-list-item>{{userDetails.name}}</mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-icons-outlined md-48" (click)="getClientData()" matTooltip="View Patients">
        assignment_ind
        </span>
    </ng-template>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter by Name" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.clientDetailsID}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.clientName}} </td>
        </ng-container>

        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
          <td mat-cell *matCellDef="let row"> {{row.clientDOB}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let row"> {{row.clientGender}} </td>
        </ng-container>

        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>
          <td mat-cell *matCellDef="let row"> {{row.clientTestAnalysesResult}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-icons-outlined md-48" matTooltip="Test">
        biotech
      </span>
    </ng-template>
    <app-client-test-form></app-client-test-form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-icons-outlined md-48" matTooltip="Profile Details">
        account_circle
      </span>
    </ng-template>

  </mat-tab>
</mat-tab-group>
