<div class="clientTestForm">
  <mat-card class="clientTestFormFormCard">
    <mat-card-title>
      <h2>Login</h2>
    </mat-card-title>

    <mat-card-content>
      <form>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput required formControlName="email" class="clientTestInputBox">
        </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput required formControlName="password" class="clientTestInputBox">
        </mat-form-field>
        </p>

        <p>

        </p>
      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button>Signup</button>
      <button mat-raised-button>
        <span class="material-icons-outlined">
        login
        </span>Login</button>
    </mat-card-actions>

  </mat-card>
</div>

